body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 800px;
    margin-inline: auto;
    background-color: #eee;
    background-image: url(screenshots/experiment-0-2.png);
    background-size: cover;
}
header, main {
    margin-inline: 1em;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main {
    margin-block: 2em;
}
main section {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
}
canvas {
    background: black;
    /* width: 600px; */
    /* max-height: 600px; */
    width: 100%;
}
#panel {
    width: 60%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
#panel.three {
    grid-template-columns: 1fr max-content 1fr;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-end;
}

nav a {
    padding: 0.25em 0.5em;
    background-color: #333;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}
a {
    color: inherit;
}

@media screen and (min-width: 700px) {
    nav {
        flex-direction: row;
    }
}